doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav(class="navbar navbar-default navbar-fixed-top")
      div(class="container-fluid")
        div(class="navbar-header")
          button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false")
            span(class="sr-only") Toggle
            span(class="icon-bar")
          a(class="navbar-brand" href="/") Scoreboard
        div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
          ul(class="nav navbar-nav")
            li(class="dropdown")
              a(href="#" class="dropdown-toggle" data-toggle="dropdown" roles="button" aria-haspopup="true" aria-expanded="false") Menu
              ul(class="dropdown-menu")
                if !user
                  li
                    a(href="/signup") Signup
                  li
                    a(href="/login") Login
                else
                  li
                    a(href="/") Home
                  li
                    a(href="#") Profile
                  li
                    a(href="/logout") Logout
            if user.admin
              li(class="dropdown")
                a(href="#" class="dropdown-toggle" data-toggle="dropdown" roles="button" aria-haspopup="true" aria-expanded="false") Admin
                ul(class="dropdown-menu")
                  li
                    a(href="/admin/players") Players
                  li
                    a(href="/admin/users") User Accounts

    div(class='container')
      br
      br
      br
      block content
